
.copy-btn:hover{
    background-color: aliceblue;
    border: 1px solid black; 
}
.call-btn:hover{
    background-color: aliceblue;
    color: black;
}
.love-icon:hover{
   
    color: red;
}



@media screen and (min-width: 200px) and (max-width: 500px) {
    
.menu-section{
    
    flex-direction: column-reverse;
}

.card-container{
   
    width: 100%;
    margin-bottom: 10px;
  
}

.history-container {
    margin-bottom: 25px;
}

.three-buttons{
    flex-direction: column;
    width: 100%;

}
.three-buttons button {
    width: 100%;
}
.button-service  {
    width: 100%;
    justify-content: center;
    
}

/* .history-container{
    min-height: 200px;
} */

  
}












  