@media screen and (min-width: 200px) and (max-width: 500px) {
    
.menu-section{
    
    flex-direction: column-reverse;
}

.card-container{
   
    width: 100%;
    margin-bottom: 20px;
}

  
}












  